{% extends "base.html" %}

{% block titulo %} lista de asignaturas {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear_asignatura'%}" role="button">Agregar Nueva asignatura</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Asignatura</h4>
        <table class="table">
            <thead>
                <tr>
                <th> Id</th>
                <th >Nombre</th>
                <th >Salon</th>
                <th >Horario</th>
                <th >Profesor</th>
                <th >Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for asi in asignaturas %}
                <tr>
                    <td>{{asi.id}}</td>
                    <td>{{asi.nombre}}</td>
                    <td>{{asi.salon}}</td>
                    <td>{{asi.horario}}</td>
                    <td>{{asi.profesor}}</td>
                    <td><a name="" id="" class="btn btn-info" href="{% url 'editara' asi.id %}" role="button">Editar</a>
                    <a name="" id="" class="btn btn-danger" href="{% url 'eliminara' asi.id %}" role="button">borrar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <div class="card-footer text-muted">
       
    </div>
</div>

{% endblock %}